Package: infinitelabs-platform-core-dev
Source: infinitelabs-platform-core
Version: 0.1
Architecture: armel
Maintainer: unknown <millenomi@unknown>
Installed-Size: 12
Depends: infinitelabs-platform-core (= 0.1)
Section: libdevel
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
