Source: infinitelabs-platform-core
Priority: extra
Maintainer: unknown <millenomi@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: infinitelabs-platform-core-dev
Section: libdevel
Architecture: any
Depends: infinitelabs-platform-core (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: infinitelabs-platform-core
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
